p {
  text-align: center;
}

.wordSearch {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.Puzzle { 
  font-weight: 700;
  max-width: 75%;
  margin-left: 50px;
  padding: 30px;
  line-height: 1.75; 
  color: black;
  font-size: 20px;
  float: left;
}

.Puzzle ul {
  justify-content: space-around;
  width: 100%;
  display: inline-flex;
  text-align: justify;
  background-color: white;
}

#wordRow {
  display: inline-block; 
  min-width: 35px;
}

.wordsToFind {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: center;
  width: 13%;
  margin-bottom: 20px;
}

.wordsToFind h1 {
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

#wordList {
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
}

#generatePuzzle {
  margin-top: 25px;
  width: 150px;
}

#savePuzzle {
  margin-top: 10px;
  width: 150px;
}

#printPuzzle {
  margin-top: 10px;
  width: 150px;
}

.solved {
  text-decoration: line-through;
}

.circle {
  border-radius: 50%
}

.cyan {
  background: cyan;
}

.red {
  background: red;
}

.green {
  background: green;
}

.orange {
  background: orange;
  color: silver;
}

.pink {
  background: pink;
  color: silver;
}

.yellow {
  background: yellow;
  color: silver;
}

.purple {
  background: purple;
  color: silver;
}

.brown {
  background: brown;
  color: silver;
}

.silver {
  background: silver;
  color: silver;
}

.first {
  background: blue;
}