.wordSearch {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.Puzzle { 
  font-weight: 700;
  width: 75%;
  margin-left: 50px;
  padding: 30px;
  line-height: 1.75; 
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  float: left;
}

.Puzzle ul {
  justify-content: space-around;
  width: 100%;
  display: inline-flex;
  text-align: justify;
  background-color: white;
}

#wordRow {
  display: inline-block; 
}

.wordsToFind {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: center;
  width: 13%;
}

.wordsToFind h1 {
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
}

#wordList {
  background-color: white;
  font-size: 15px;
  font-weight: 600;
}

#regeneratePuzzle {
  margin-top: 50px;
  width: 150px;
}

#savePuzzle {
  margin-top: 10px;
  width: 150px;
}