.wordInput {
  position: fixed;
  margin-top: 125px;
  width: 80%;
  left: 50px;
  text-align: center;
}

.wordInput input {
  padding: 10px 10px;
  margin-left: auto;
  width: 50%;
  text-align: center;
  color: coral;
  font-size: 16px;
}

.wordInput p {
  padding: 10px 65px;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
}

.wordInput button {
  margin: 10px;
}

.wordList ul {
  margin-top: 10px;
  position: absolute;
  font-size: 16px;
  color: black;
  width: 100%;
  text-align: center;
}

.wordList li {
  margin-top: 5px;
}

.wordList h1 {
  margin-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: black;
  border-bottom: 4px solid black;
}

.wordList {
  margin-top: 10px;
  background-color: white;
  width: 100%;
  padding-bottom: 300px;
  position: relative;
  overflow: auto;
}
 
.wordList li:hover {
  background-color: gray;
}

.active {
  background-color: rgb(24,24,24);
  color: white;
}

.wordSize {
  display: flex;
  align-content: center;
}