.wordInput {
  position: fixed;
  margin-top: 125px;
  width: 33%;
  left: 50px;
}

.wordInput input {
  padding: 10px 10px;
  margin-left: auto;
  width: 50%;
  text-align: center;
}

.wordInput p {
  padding: 10px 65px;
}

.wordInput button {
  margin: 10px;
}